@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');  /*letra para titulos*/
/*font-family: 'Playfair Display', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:ital,wght@1,300&display=swap');/*letra para parrafo*/
/*font-family: 'Roboto', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Playfair Display', serif;
}

/* .header-container{
    background-image: linear-gradient(120deg, rgba(213, 252, 121, 0.696) 0%, rgba(150, 230, 161, 0.69) 100%), url(imag/img-header3.jpg);
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
} */

.nav-bar{
    background-image: linear-gradient(120deg, rgba(84, 95, 58, 0.696) 0%, rgba(19, 141, 36, 0.69) 100%);
    display: flex;
    justify-content: space-between;
    height: 65px;
       
}
.nav-link{
    display: flex;
}

.nav-icono{
    color: white;
    font-size: 50px;

}




.header-container{
    background-image: linear-gradient(to top, rgba(161, 58, 132, 0.703) 0%, rgba(54, 92, 159, 0.709) 100%), url(imag/img-header3.jpg);
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;          /*no repite la imag*/
    background-position: center;
    background-size: cover;                /*tamaño de fondo y se mantiene fijo*/
    background-attachment: fixed;          /*realiza scroll y la imagen se mantiene*/
    position: relative;
    overflow: hidden;                      /*no se salgan elementos del header*/

}

.text-header{
    height: 500px;
    color: white;
    display: flex;
    flex-direction: column;             /*organiza elemento en columna*/
    justify-content: center;           /*me centra los elementos horiz*/
    align-items: center;               /*me centra los elementos  vert*/
}

.text-header h1{
    font-size: 75px;
}
.text-header p{
    font-size: 30px;
    margin-bottom: 20px;
}
.text-header a{
    font-size: 20px;
    margin-bottom: 20px;                     /*diseño del boton y enlace*/
    text-decoration: none;
    display: inline-block;
    padding: 11px 15px;
    border-radius: 20px;
    background-color: rgb(69, 27, 27);
    color: white;
}
.text-header a:hover{
    background-color: black;
    color: white;
}

.svg-header{
    position: absolute;
    width: 100%;
    color: rgb(28, 27, 27);
}









html{
    scroll-behavior: smooth;
}
