@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');  /*letra para titulos*/
/*font-family: 'Playfair Display', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:ital,wght@1,300&display=swap');/*letra para parrafo*/
/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Playfair+Display&family=Roboto+Condensed:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Playfair Display', serif;
}

/* -------Style Nav - Bar --------- */

.nav-bar{
    position: fixed;
    background-image: linear-gradient(120deg, rgba(194, 202, 173, 0.696) 0%, rgba(62, 215, 82, 0.69) 100%);
    display: flex;
    justify-content: space-between;
    min-height: 65px;
    align-items: center;
    padding: 10px;
    position:sticky;
       
}
.nav-logo{
    display: flex;
    align-items: center;
    width: 350px;
}

.nav-icono{
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 50px;
    margin-left: 1.5%; 
    padding-right: 20px;
}

.logo-name{
    color: rgb(0, 0, 0);
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    
}

.nav-link a{
    text-decoration: none;               /*Diseño de los enlaces en el nav*/
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bolder;
    font-weight: 400; 
    padding-right: 25px;     
}
.nav-link a:hover{
    color: white;
    border-radius: 15px;
    text-align: center;
}

@media (max-width:700px){
    nav-bar{
        flex-direction: column;
    }
}

/* --------- style header ---------- */

.header-container{
    background-image: linear-gradient(to top, rgba(161, 58, 132, 0.703) 0%, rgba(54, 92, 159, 0.709) 100%), url(imag/img-header3.jpg);
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;          /*no repite la imag*/
    background-position: center;
    background-size: cover;                /*tamaño de fondo y se mantiene fijo*/
    background-attachment: fixed;          /*realiza scroll y la imagen se mantiene*/
    position: relative;
    overflow: hidden;                      /*no se salgan elementos del header*/

}

.text-header{
    height: 500px;
    color: white;
    display: flex;
    flex-direction: column;             /*organiza elemento en columna*/
    justify-content: center;           /*me centra los elementos horiz*/
    align-items: center;               /*me centra los elementos  vert*/
}

.text-header h1{
    font-size: 75px;
}
.text-header p{
    font-size: 30px;
    margin-bottom: 20px;
}
.text-header a{
    font-size: 20px;
    margin-bottom: 20px;                     /*diseño del boton y enlace*/
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: rgba(69, 27, 27, 0.75);
    color: white;
}
.text-header a:hover{
    background-color: black;
    box-shadow: 0 7px 7px 0 rgb(79, 74, 74);

}

.svg-header{
    position: absolute;
    width: 100%;
    color: rgb(28, 27, 27);
}

html{
    scroll-behavior: smooth;    /* moviliza los enlaces más lento*/
}

/* -------- Style  container --------*/

.container{
    width: 90%;
    overflow: hidden;
    max-width: 1000px;
    margin: auto;
    padding: 0 0 80px 0;
}
.title{
    font-weight: 300;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
}

/* -------- style slide-------*/

.slide-section{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 1000px;
    width: 100%;
    border-radius: 2%;
    overflow: hidden;
}

.img-sli{
    width: 100%;
    
}

.slide{
   display: flex;
   transform: translate3d(0,0,0);
   transition: all 600ms;
   animation-name: autoplay;
   animation-duration: 6.5s;
   animation-direction: alternate;
   animation-fill-mode: forwards;
   animation-iteration-count: infinite;
}

.item-slider{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagination-r{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    width: 25px;
    height: 25px;
    border-radius: 5%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.596);
    margin: 0 12px;
    text-align: center;
    transition: all 300ms;
}

.pagination:hover{
    transform: scale(2.5);
}




/* -------style first section */

.img-section-one{
    width: 60%;
    height: 66%;
    border-radius: 3%;
    box-shadow: 0 7px 7px 0 rgb(79, 74, 74); 
    object-fit: cover;
}
.img-section-one:hover{
    transform: scale(1.1);
    border-radius: 3%;
    box-shadow: 0 7px 7px 0 rgb(79, 74, 74); 
}

.container-info{
    display: flex;
    justify-content: center;
    padding: 10px;    
    
}
.sec-parrafo{
    text-align: center;
    margin-left: 6%;
       
}

.parrafo{
    text-align: justify;
    font-size: 1.4rem;
    margin-bottom: 4rem;
}
.sec-parrafo a{
    margin-bottom: 0;
    height: fit-content;
}
.butom{
    font-size: 20px;
    margin-bottom: 20px;                     /*diseño del boton y enlace*/
    text-decoration: none;
    display: inline-block;    
    padding: 8px 15px;
    border-radius: 20px;
    background-color: rgba(69, 27, 27, 0.75);
    color: white;
         
}

.butom:hover{
    background-color: black;
    box-shadow: 0 7px 7px 0 rgb(79, 74, 74);
}

.container-two{
    padding-top: 4%;
    
}

.style-section-inf{
    display: flex;
    background-color: rgba(35, 39, 84, 0.402);
    height: 15rem;
    margin-top: 2rem;
    align-items: center;
    flex-direction: column;
    
}

.container-cards{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.cards{
    width: 18%;
    text-align:center;
    box-shadow: 0 0 5px 0 rgb(79, 74, 74, .6);
}
.parrafo-cr{
    text-align: justify;
    font-size: 1rem;
    margin:20px 0 20px 0;
    padding: 0 10px;    
}

.cards i{
    font-size: 200%;
    color:brown;
    margin: 30px 0 20px 0;
    
}
.cards:hover{
    transform: scale(1.1);
    border-radius: 3%;
    box-shadow: 0 7px 7px 0 rgb(79, 74, 74); 
}

.cards h3{
    margin: 10px 0 10px 0; 
}

.img-galery{
    width: 20%;
    height: 17%;
}



